@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Moment 1.2 - Räknare</h1>

<p role="status">Nuvarande räkning: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">KLICKA HÄR</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
