@page "/"

<PageTitle>Moment 1.2 - Blazor</PageTitle>

<h1>Moment 1.2 - Blazor</h1>

<p>I det här momentet har en webbapplikation skapas med Blazor WebbAssembly.
    Den har skapats med egen HTML och CSS och all interaktion/dynamisk programmering
    är skapat med C#.
</p>
<p>I menyn till vänster finns de olika undersidorna med olika funktioner.</p>
